<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>系统日志--FreeCms</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/public.css" media="all" />
</head>
<body class="childrenBody">

<table id="logs" lay-filter="logs"></table>

<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['table'],function(){
        var table = layui.table;

        //系统日志
        table.render({
            elem: '#logs',
            url : '/system/logs',
            cellMinWidth : 95,
            page : true,
            height : "full-20",
            limit : 20,
            limits : [20,50,100],
            //id : "systemLog",
            cols : [[
                {type: "checkbox", fixed:"left", width:50},
                {field: 'id', title: '序号', width:100, align:"center"},
                {field: 'route', title: '请求地址', width:350},
                {field: 'ip_text', title: '操作IP',  align:'center',width:120},
                {field: 'description', title: '操作信息', align:'center'},
                {field: 'user_id',title: '操作人',width:100,align:"center"},
                {field: 'created_at_text', title: '操作时间', align:'center',width:200}
            ]]
        });

    })

</script>
</body>
</html>