<form class="layui-form layui-row layui-col-space10" lay-filter="getForm" action="xx">

    <div class="layui-col-md9 layui-col-xs12">
        <div class="layui-form-item magt3">
            <label class="layui-form-label">名称*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input name" lay-verify="name" name="name" placeholder="">
            </div>
        </div>

        <hr class="layui-bg-gray" />
        <div class="layui-right">
            <a class="layui-btn layui-btn-sm" lay-filter="getTo" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
        </div>
    </div>

</form>