<form class="layui-form layui-row layui-col-space10" lay-filter="getForm" action="xx">

    <div class="layui-col-md9 layui-col-xs12">

        <div class="layui-form-item magt3">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="pid" class="pid">
                    <option value="0">顶级</option>
                    {{range $k,$v:=.booksType}}
                        <option value="{{$v.Id}}">{{$v.NameText}}</option>
                    {{end}}
                </select>
            </div>
        </div>

        <div class="layui-form-item magt3">
            <label class="layui-form-label">名称*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input name" lay-verify="name" name="name" placeholder="">
            </div>
        </div>

        <div class="layui-form-item magt3">
            <label class="layui-form-label">是否导航</label>
            <div class="layui-input-block">
                <input type="radio" name="is_nav" value="1"  checked title="是">
                <input type="radio" name="is_nav" value="0" title="否">
            </div>
        </div>

        <hr class="layui-bg-gray" />
        <div class="layui-right">
            <a class="layui-btn layui-btn-sm" lay-filter="getTo" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
        </div>
    </div>

</form>