<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>小说</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/admin/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容" />
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-normal create_btn">添加</a>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
			</div>
		</form>
	</blockquote>
	<table id="jsonTable" lay-filter="jsonTable"></table>

	<!--操作-->
	<script type="text/html" id="toolBar">
		<a class="layui-icon btn-edit" lay-event="update">&#xe642;</a>
		<a class="layui-icon btn-edit" lay-event="delete">&#xe640;</a>
	</script>
</form>
<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/js/base.js"></script>
<script>
	layui.use(['form', 'layer', 'laydate', 'table', 'laytpl'], function () {
		var form = layui.form,
				layer = parent.layer === undefined ? layui.layer : top.layer,
				$ = layui.jquery,
				laydate = layui.laydate,
				laytpl = layui.laytpl,
				table = layui.table;

		//新闻列表
		tableIns = table.render({
			elem: '#jsonTable',
			url: '/collection-job/index',
			cellMinWidth: 95,
			page: true,
			height: "full-125",
			limit: 20,
			limits: [20, 50,100],
			id: "jsonTable",
			cols: [[
				{type: "checkbox", fixed: "left"},
				{field: 'id', title: 'ID', align: "center",width:100},
				{field: 'name', title: '名称'},
				{field: 'trigger_time', title: '每天执行时间'},
				{field: 'api_url', title: '推送地址'},
				{field: 'image_path', title: '图片保存地址'},
				{field: 'article_category_id', title: '栏目id'},
				{title: '操作', width: 150, templet: '#toolBar', fixed: "right", align: "center"}
			]]
		});

		//搜索【此功能需要后台配合，所以暂时没有动态效果演示】
		$(".search_btn").on("click", function () {
			if ($(".searchVal").val() != '') {
				table.reload("jsonTable", {
					page: {
						curr: 1 //重新从第 1 页开始
					},
					where: {
						key: $(".searchVal").val()  //搜索的关键字
					}
				})
			} else {
				layer.msg("请输入搜索的内容");
			}
		});
	})
</script>
</body>
</html>