<form class="layui-form layui-row layui-col-space10" lay-filter="getForm" action="">

    <div class="layui-col-md9 layui-col-xs12">

        <div class="layui-form-item magt3">
            <label class="layui-form-label">上级分类</label>
            <div class="layui-input-block">
                <select name="pid" lay-verify="pid" class="pid">
                    <option value="0">顶级</option>
                    {{range $k,$v:=.category}}
                        <option value="{{$v.Id}}" {{if eq $v.Id $.vo.Pid}}selected{{end}}>{{$v.NameText}}</option>
                    {{end}}
                </select>
            </div>
        </div>

        <div class="layui-form-item magt3">
            <label class="layui-form-label">名称*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input name" lay-verify="name" name="name" placeholder=""
                       value="{{.vo.Name}}">
            </div>
        </div>

        <div class="layui-form-item magt3">
            <label class="layui-form-label">是否导航</label>
            <div class="layui-input-block">
                <input type="radio" name="is_nav" value="1" title="是" {{if eq 1 .vo.IsNav}}checked{{end}}>
                <input type="radio" name="is_nav" value="0" title="否" {{if eq 0 .vo.IsNav}}checked{{end}}>
            </div>
        </div>

        <hr class="layui-bg-gray"/>
        <div class="layui-layer-btn layui-layer-btn-">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-filter="getTo" lay-submit>确定</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>

</form>

<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form

        form.verify({
            name: function (val) {
                if (val == '') {
                    return "名称不能为空";
                }
            }
        })

    })
</script>