<form class="layui-form layui-row layui-col-space10" lay-filter="getForm" action="xx">

    <div class="layui-col-md9 layui-col-xs12">
        <div class="layui-form-item magt3">
            <label class="layui-form-label">规则名称*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input name" lay-verify="name" name="name" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">列表链接*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input list_a" lay-verify="list_a" name="list_a" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input list_author" lay-verify="list_author" name="list_author" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">封面</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input list_msg_img" lay-verify="list_msg_img" name="list_msg_img" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input list_describe" lay-verify="list_describe" name="list_describe" placeholder="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">更新时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input list_msg_last_time" lay-verify="list_msg_last_time" name="list_msg_last_time" placeholder="">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">内容文本*</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input content_text" lay-verify="content_text" name="content_text" placeholder="">
            </div>
        </div>

        <hr class="layui-bg-gray" />
        <div class="layui-right">
            <a class="layui-btn layui-btn-sm" lay-filter="getTo" lay-submit><i class="layui-icon">&#xe609;</i>保存</a>
        </div>
    </div>

</form>

<script type="text/javascript">
    layui.use(['form','layer','layedit','laydate','upload'],function(){
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            laypage = layui.laypage,
            upload = layui.upload,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.jquery;

        form.verify({
            name : function(val){
                if(val == ''){
                    return "规则名称不能为空";
                }
            },
            list_a : function(val){
                if(val == ''){
                    return "列表链接不能为空";
                }
            },
            content_text : function(val){
                if(val == ''){
                    return "内容文本不能为空";
                }
            }
        })

        form.on("submit(getTo)",function(data){
            //弹出loading
            var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
            // 实际使用时的提交信息
            $.post($(".layui-form").attr("action"),data.field,function (res) {
                setTimeout(function(){
                    top.layer.close(index);
                    top.layer.msg(res.msg);
                    layer.closeAll("iframe");
                    //刷新父页面
                    parent.location.reload();
                },500);
            });
            return false;
        })

    })
</script>