<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>轻轻小说</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="MobileOptimized" content="240"/>
<meta name="applicable-device" content="mobile"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
<link rel="shortcut icon" href="/static/home/favicon.ico" />
<meta http-equiv="Cache-Control" content="max-age=300" />
<meta http-equiv="Cache-Control" content="no-transform " />
<link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/static/home/css/style.css" />
<link rel="stylesheet" type="text/css" href="/static/home/css/css.css" />
