<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-upload-list linkLogo">
            <img class="layui-upload-img linkLogoImg" src="{{.vo.Image}}">
            <input type="hidden" name="image" class="image" value="{{.vo.Image}}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网站名称</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input name" name="name" lay-verify="required" placeholder="请输入网站名称"
                   value="{{.vo.Name}}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网站地址</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input url" name="url" lay-verify="required|url" placeholder="请输入网站地址"
                   value="{{.vo.Url}}"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">展示位置</label>
        <div class="layui-input-block">
            <input type="radio" name="target" title="站内" value="1" {{if eq 1 .vo.Status}}checked{{end}}>
            <input type="radio" name="target" title="站外" value="0" {{if eq 0 .vo.Status}}checked{{end}}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" title="显示" value="1" {{if eq 1 .vo.Status}}checked{{end}}>
            <input type="radio" name="status" title="关闭" value="0" {{if eq 0 .vo.Status}}checked{{end}}>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input list_order" name="list_order" lay-verify="" placeholder=""
                   value="{{.vo.ListOrder}}"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
            <textarea name="description" class="layui-textarea description"
                      placeholder="请输入内容">{{.vo.Description}}</textarea>
        </div>
    </div>
    <hr class="layui-bg-gray"/>
    <div class="layui-form-item">
        <div class="layui-layer-btn">
            <button class="layui-btn layui-btn-normal layui-btn-sm" lay-filter="getTo" lay-submit>确定</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use(['form', 'layer', 'layedit', 'laydate', 'upload'], function () {
        var form = layui.form
        layer = parent.layer === undefined ? layui.layer : top.layer,
            laypage = layui.laypage,
            upload = layui.upload,
            layedit = layui.layedit,
            laydate = layui.laydate,
            $ = layui.jquery;

        //上传logo
        upload.render({
            elem: '.linkLogo',
            url: '/upload/',
            done: function (res, index, upload) {
                $('.linkLogoImg').attr('src', res.data);
                $("input[name='image']").val(res.data)
                $('.linkLogo').css("background", "#fff");
            }
        });
    })
</script>