<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>友情链接--FreeCms</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/static/admin/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<blockquote class="layui-elem-quote quoteBox">
    <form class="layui-form">
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input type="text" class="layui-input searchVal" placeholder="请输入搜索的内容"/>
            </div>
            <a class="layui-btn search_btn" data-type="reload">搜索</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-normal create_btn">添加友链</a>
        </div>
        <div class="layui-inline">
            <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
        </div>
    </form>
</blockquote>
<table id="jsonTable" lay-filter="jsonTable"></table>

<script type="text/javascript" src="/static/plugins/layui/layui.js"></script>
<script type="text/javascript" src="/static/admin/js/base.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layer', 'laydate', 'table', 'upload'], function () {
        var form = layui.form,
            layer = parent.layer === undefined ? layui.layer : top.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            upload = layui.upload,
            table = layui.table;

        //友链列表
        tableIns = table.render({
            elem: '#jsonTable',
            url: '/links/index',
            page: true,
            cellMinWidth: 95,
            height: "full-104",
            limit: 20,
            limits: [20, 50, 100],
            id: "jsonTable",
            cols: [[
                {type: "checkbox", fixed: "left", width: 50},
                {
                    field: 'image', title: 'LOGO', width: 180, align: "center", templet: function (d) {
                        return '<a href="' + d.websiteUrl + '" target="_blank"><img src="' + d.image + '" height="26" /></a>';
                    }
                },
                {field: 'name', title: '链接名称', minWidth: 240},
                {field: 'url', title: '链接地址', width: 300, templet: function (d) {
                        return '<a class="layui-blue" href="' + d.url + '" target="_blank">' + d.url + '</a>';
                    }
                },
                {
                    field: 'target', title: '打开方式', align: 'center', templet: function (d) {
                        if (d.target == 1) {
                            return "站内";
                        }
                        if (d.target == 0) {
                            return "站外";
                        }
                    }
                },
                {field: 'list_order', title: '排序', minWidth: 200, align: 'center'},
                {
                    title: '操作', width: 130, fixed: "right", align: "center", templet: function () {
                        return '\t\t<a class="layui-icon-face-smile layui-icon btn-edit" lay-event="update">&#xe642;</a>\n' +
                            '\t\t<a class="layui-icon-face-smile layui-icon btn-edit" lay-event="delete">&#xe640;</a>\n';
                    }
                }
            ]]
        });
        //搜索【此功能需要后台配合，所以暂时没有动态效果演示】
        $(".search_btn").on("click", function () {
            if ($(".searchVal").val() != '') {
                table.reload("jsonTable", {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        key: $(".searchVal").val()  //搜索的关键字
                    }
                })
            } else {
                layer.msg("请输入搜索的内容");
            }
        });
    })

    function Edit(body, edit, form) {
        if (edit) {
            body.find(".layui-form").attr("action", "update?id=" + edit.id)

            body.find(".image").val(edit.image);
            body.find(".linkLogoImg").attr("src", edit.image);
            body.find(".name").val(edit.name);
            body.find(".url").val(edit.url);
            if (edit.status == 1) {
                body.find(".status").prop("checked", true);
            }
            if (edit.target == 1) {
                body.find(".target").prop("checked", true);
            }
            body.find(".description").val(edit.description);
            body.find(".list_order").val(edit.list_order);
            form.render();
        } else {
            body.find(".layui-form").attr("action", "create")
        }
    }
</script>
</body>
</html>